.navbar.container {
  margin-top: 0px;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .dropdown {
  width: 150px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.nav > li.disabled > a {
  color: #b5b6b9;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #b5b6b9;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #f5f5f5;
  border-color: #dd1e25;
}

.nav-tabs > li > a:hover {
  border-color: #f5f5f5 #f5f5f5 #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #888c8f;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #dd1e25;
}

.navbar-inverse .navbar-brand {
  color: #dcddde;
}
.navbar-inverse .navbar-text {
  color: #dcddde;
}
.navbar-inverse .navbar-nav > li > a {
  color: #dcddde;
}
.navbar-inverse .navbar-link {
  color: #dcddde;
}
.navbar-inverse .btn-link {
  color: #dcddde;
}

.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-collapse.collapse{
  margin-left: 100px !important;
}

.breadcrumb {
  margin-bottom: 22px;
}
.breadcrumb > .active {
  color: #b5b6b9;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #939494;
}

.front .block-title:before,
.front .block-title:after,
.view-product-index .view-content:before,
.view-product-index .view-content:after,
.page-product .region-pre-content:before,
.page-product .region-pre-content:after,
.page-industry .region-pre-content:before,
.page-industry .region-pre-content:after,
.page-product .region-content:before,
.page-product .region-content:after,
.page-industry .region-content:before,
.page-industry .region-content:after {
  content: " ";
  display: table;
}
.front .block-title:after,
.view-product-index .view-content:after,
.page-product .region-pre-content:after,
.page-industry .region-pre-content:after,
.page-product .region-content:after,
.page-industry .region-content:after {
  clear: both;
}

.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}

.gray-wrap {
  background-color: #f5f5f5;
}
.gray-wrap .content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.right-sidebar .menu li {
  background-color: #FFF;
  border: 1px solid #888c8f;
  margin-bottom: 5px;
  text-align: center;
}

.chameleon {
  background-color: #1c2f55;
  -webkit-transition: background-color 0.5;
  -moz-transition: background-color 0.5;
  -o-transition: background-color 0.5;
  -ms-transition: background-color 0.5;
  transition: background-color 2s;
  color: #FFF;
}

.front .chameleon {
  background-color: #829AAD;
  /* Old browsers */
}

.multiple-spring .chameleon {
  background-color: #0081C9;
}
.pump-specific .chameleon {
  background-color: #7F123F;
}
.taper-spring .chameleon {
  background-color: #D53C0D;
}
.wave-spring .chameleon {
  background-color: #337120;
}
.clamp-ring .chameleon {
  background-color: #531C65;
}
.bellows-seal .chameleon {
  background-color: #061F46;
}
.parallel-spring .chameleon {
  background-color: #8E8F90;
}
.stationary-only .chameleon {
  background-color: #B99616;
}
.hover-multiple-spring .chameleon {
  background-color: #0081C9;
}
.hover-pump-specific .chameleon {
  background-color: #7F123F;
}
.hover-taper-spring .chameleon {
  background-color: #D53C0D;
}
.hover-wave-spring .chameleon {
  background-color: #337120;
}
.hover-clamp-ring .chameleon {
  background-color: #531C65;
}
.hover-bellows-seal .chameleon {
  background-color: #061F46;
}
.hover-parallel-spring .chameleon {
  background-color: #8E8F90;
}
.hover-stationary-only .chameleon {
  background-color: #B99616;
}

.page-header {
  transition: color 3s;
}

.region-cta {
  padding-top: 40px;
  padding-bottom: 40px;
}
.region-cta .centered-cta {
  text-align: center;
}
.region-cta .centered-cta .btn-default {
  padding-left: 40px;
  padding-right: 40px;
}

.region-help .block {
  overflow: hidden;
}

.region-wave .block {
  margin-top: 20px;
}

.region-header .btn-default,
.region-cta .btn-default {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border-color: #FFF;
  color: #FFF;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
.region-header .btn-default:hover,
.region-cta .btn-default:hover {
  background: #ffffff;
  color: #1c2f55;
}

.page-product .content-container,
.page-industry .content-container {
  background-color: #f5f5f5;
}
.page-product .pre-content-container,
.page-industry .pre-content-container {
  background-color: #888c8f;
}
.page-product .region-pre-content,
.page-industry .region-pre-content,
.page-product .region-content,
.page-industry .region-content {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
}

.post-content {
  background-color: #f5f5f5;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.region-brand-footer {
  padding-top: 40px;
}

.footer {
  background-color: #b5b6b9;
  padding-top: 0px;
  margin-top: 10px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}
.footer a {
  color: #FFF;
}

.top-bar {
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 5px solid #CCC;
}

.top-bar .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
.wave-title {
  color: #FFF;
  text-align: center;
}

.wave-background {
  background-image: url('/sites/all/themes/bootstrap_component/images/drop-wave.png');
  background-repeat: no-repeat;
  height: 70px;
  background-position: bottom right;
}

.region-pre-content .block-facetapi {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.region-pre-content .block-facetapi select {
  font-size: 20px;
  width: 100%;
}

.region-cta .view-display-id-block .form-group {
  margin-bottom: 5px;
}
.region-cta .view-display-id-block .pre-instructions {
  padding-bottom: 20px;
}
.region-cta .view-display-id-block .entityform .resizable-textarea .grippie {
  background-color: #FFF;
  border-color: #FFF;
}
.region-cta .view-display-id-block .entityform .text-full {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  transition: background-color 0.3s;
}
.region-cta .view-display-id-block .entityform .text-full:focus {
  background-color: #FFF;
  color: #000;
}
.region-cta .view-display-id-block .entityform .field-type-text {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0px;
}

.region-cta .view-display-id-block .entityform .field-type-text input {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  transition: background-color 0.3s;
}
.region-cta .view-display-id-block .entityform .field-type-text input:focus {
  background-color: #FFF;
  color: #000;
}
.region-cta .view-display-id-block .entityform .form-submit {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  transition: background-color 0.3s;
}
.region-cta .view-display-id-block .entityform .form-submit:hover {
  background-color: #FFF;
  color: #000;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 22px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #dcddde;
  }
}

@media screen and (min-width: 768px) {
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .region-cta .view-display-id-block .entityform .field-type-text {
    float: left;
    width: 50%;
  }
}
